/* use a flexbox to align toc on left and content on the rest of the right */
.container {
	display:flex;
}
.toc {
	flex-shrink: 0; /* Prevents the TOC from shrinking when space is limited */
    width: 50%;
	padding: 2em:
	overflow-y: scroll;
}
.main-content {
	flex-grow: 1;
}
body {
	font-family: Arial, sans-serif;
}
header title {
	font-size: xx-large;
}

